@charset "UTF-8";
body{
  background-color:#d0e0c0
}

#main{
  width: 796px;
  margin: 40px auto;
  padding: 40px 80px;
}

.photo{
  float:left;
  margin-right: 30px;
}

.curry_picture:after{
  content: "";
  clear: both;
  display: block;
}

.explanation{
  float: left;
  width: 566px;
}

dt{
  clear: left;
  float: left;
  font-weight: bold;
}

.btn{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  margin: 5px;
  width: 100px;
  height: 40px;
  padding: 10px;
  border: none;
  font-size: 16px;
}

.btn:hover{
  opacity: 0.7;
}

.btn:active{
  color: white;
}

.btn-submit{
  background-color: green;
}

.btn-reset{
  background-color: lightcoral;
}
