@charset "UTF-8";
body{
  background-color:#d0e0c0
}

#main{
  width: 796px;
  margin: 40px auto;
  padding: 40px 80px;
}
.photo{
  float:left;
  margin-right: 30px;
}
.curry_picture:after{
  content: "";
  clear: both;
  display: block;
}
